<?xml version="1.0"?>
<robot name="cabo_flexivel">
  <link name="raiz_cabo">
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <link name="dummy_1">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_1_y" type="continuous">
    <parent link="raiz_cabo"/>
    <child link="dummy_1"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_1">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_1_x" type="continuous">
    <parent link="dummy_1"/>
    <child link="segment_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <topic>/angulos_cabo</topic>
      <joint_name>joint_1_x</joint_name>
      <joint_name>joint_1_y</joint_name>
    </plugin>
  </gazebo>

  <link name="dummy_2">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_2_y" type="continuous">
    <parent link="segment_1"/>
    <child link="dummy_2"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_2">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_2_x" type="continuous">
    <parent link="dummy_2"/>
    <child link="segment_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_3">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_3_y" type="continuous">
    <parent link="segment_2"/>
    <child link="dummy_3"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_3">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_3_x" type="continuous">
    <parent link="dummy_3"/>
    <child link="segment_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_4">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_4_y" type="continuous">
    <parent link="segment_3"/>
    <child link="dummy_4"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_4">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_4_x" type="continuous">
    <parent link="dummy_4"/>
    <child link="segment_4"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_5">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_5_y" type="continuous">
    <parent link="segment_4"/>
    <child link="dummy_5"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_5">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_5_x" type="continuous">
    <parent link="dummy_5"/>
    <child link="segment_5"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_6">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_6_y" type="continuous">
    <parent link="segment_5"/>
    <child link="dummy_6"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_6">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_6_x" type="continuous">
    <parent link="dummy_6"/>
    <child link="segment_6"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_7">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_7_y" type="continuous">
    <parent link="segment_6"/>
    <child link="dummy_7"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_7">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_7_x" type="continuous">
    <parent link="dummy_7"/>
    <child link="segment_7"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_8">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_8_y" type="continuous">
    <parent link="segment_7"/>
    <child link="dummy_8"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_8">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_8_x" type="continuous">
    <parent link="dummy_8"/>
    <child link="segment_8"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_9">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_9_y" type="continuous">
    <parent link="segment_8"/>
    <child link="dummy_9"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_9">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_9_x" type="continuous">
    <parent link="dummy_9"/>
    <child link="segment_9"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_10">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_10_y" type="continuous">
    <parent link="segment_9"/>
    <child link="dummy_10"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_10">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_10_x" type="continuous">
    <parent link="dummy_10"/>
    <child link="segment_10"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_11">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_11_y" type="continuous">
    <parent link="segment_10"/>
    <child link="dummy_11"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_11">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_11_x" type="continuous">
    <parent link="dummy_11"/>
    <child link="segment_11"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_12">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_12_y" type="continuous">
    <parent link="segment_11"/>
    <child link="dummy_12"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_12">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_12_x" type="continuous">
    <parent link="dummy_12"/>
    <child link="segment_12"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_13">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_13_y" type="continuous">
    <parent link="segment_12"/>
    <child link="dummy_13"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_13">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_13_x" type="continuous">
    <parent link="dummy_13"/>
    <child link="segment_13"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_14">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_14_y" type="continuous">
    <parent link="segment_13"/>
    <child link="dummy_14"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_14">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_14_x" type="continuous">
    <parent link="dummy_14"/>
    <child link="segment_14"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_15">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_15_y" type="continuous">
    <parent link="segment_14"/>
    <child link="dummy_15"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_15">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_15_x" type="continuous">
    <parent link="dummy_15"/>
    <child link="segment_15"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_16">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_16_y" type="continuous">
    <parent link="segment_15"/>
    <child link="dummy_16"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_16">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_16_x" type="continuous">
    <parent link="dummy_16"/>
    <child link="segment_16"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_17">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_17_y" type="continuous">
    <parent link="segment_16"/>
    <child link="dummy_17"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_17">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_17_x" type="continuous">
    <parent link="dummy_17"/>
    <child link="segment_17"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_18">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_18_y" type="continuous">
    <parent link="segment_17"/>
    <child link="dummy_18"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_18">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_18_x" type="continuous">
    <parent link="dummy_18"/>
    <child link="segment_18"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_19">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_19_y" type="continuous">
    <parent link="segment_18"/>
    <child link="dummy_19"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_19">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_19_x" type="continuous">
    <parent link="dummy_19"/>
    <child link="segment_19"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_20">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_20_y" type="continuous">
    <parent link="segment_19"/>
    <child link="dummy_20"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_20">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_20_x" type="continuous">
    <parent link="dummy_20"/>
    <child link="segment_20"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_21">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_21_y" type="continuous">
    <parent link="segment_20"/>
    <child link="dummy_21"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_21">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_21_x" type="continuous">
    <parent link="dummy_21"/>
    <child link="segment_21"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_22">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_22_y" type="continuous">
    <parent link="segment_21"/>
    <child link="dummy_22"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_22">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_22_x" type="continuous">
    <parent link="dummy_22"/>
    <child link="segment_22"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_23">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_23_y" type="continuous">
    <parent link="segment_22"/>
    <child link="dummy_23"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_23">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_23_x" type="continuous">
    <parent link="dummy_23"/>
    <child link="segment_23"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_24">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_24_y" type="continuous">
    <parent link="segment_23"/>
    <child link="dummy_24"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_24">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_24_x" type="continuous">
    <parent link="dummy_24"/>
    <child link="segment_24"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_25">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_25_y" type="continuous">
    <parent link="segment_24"/>
    <child link="dummy_25"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_25">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_25_x" type="continuous">
    <parent link="dummy_25"/>
    <child link="segment_25"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_26">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_26_y" type="continuous">
    <parent link="segment_25"/>
    <child link="dummy_26"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_26">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_26_x" type="continuous">
    <parent link="dummy_26"/>
    <child link="segment_26"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_27">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_27_y" type="continuous">
    <parent link="segment_26"/>
    <child link="dummy_27"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_27">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_27_x" type="continuous">
    <parent link="dummy_27"/>
    <child link="segment_27"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_28">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_28_y" type="continuous">
    <parent link="segment_27"/>
    <child link="dummy_28"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_28">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_28_x" type="continuous">
    <parent link="dummy_28"/>
    <child link="segment_28"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_29">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_29_y" type="continuous">
    <parent link="segment_28"/>
    <child link="dummy_29"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_29">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_29_x" type="continuous">
    <parent link="dummy_29"/>
    <child link="segment_29"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_30">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_30_y" type="continuous">
    <parent link="segment_29"/>
    <child link="dummy_30"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_30">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_30_x" type="continuous">
    <parent link="dummy_30"/>
    <child link="segment_30"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_31">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_31_y" type="continuous">
    <parent link="segment_30"/>
    <child link="dummy_31"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_31">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_31_x" type="continuous">
    <parent link="dummy_31"/>
    <child link="segment_31"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_32">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_32_y" type="continuous">
    <parent link="segment_31"/>
    <child link="dummy_32"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_32">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_32_x" type="continuous">
    <parent link="dummy_32"/>
    <child link="segment_32"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_33">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_33_y" type="continuous">
    <parent link="segment_32"/>
    <child link="dummy_33"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_33">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_33_x" type="continuous">
    <parent link="dummy_33"/>
    <child link="segment_33"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_34">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_34_y" type="continuous">
    <parent link="segment_33"/>
    <child link="dummy_34"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_34">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_34_x" type="continuous">
    <parent link="dummy_34"/>
    <child link="segment_34"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>

  <link name="dummy_35">
    <inertial>
      <mass value="0.01"/> <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="joint_35_y" type="continuous">
    <parent link="segment_34"/>
    <child link="dummy_35"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="0.2" friction="0.005"/>
  </joint>

  <link name="segment_35">
    <visual>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
      <material name="black"><color rgba="0 0 0 1"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.004" length="0.02"/></geometry>
      <origin xyz="0 0 0.01" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0000003958" ixy="0" ixz="0" iyy="0.0000003958" iyz="0" izz="0.000000125"/>
    </inertial>
  </link>

  <joint name="joint_35_x" type="continuous">
    <parent link="dummy_35"/>
    <child link="segment_35"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="0.02" friction="0.005"/>
  </joint>
</robot>
